$icon-home: #2CB751;
$color-btn: #EBB94A;
$color-imp: #EBB94A;
$police: rgb(230, 230, 230);
$icons: rgb(230, 230, 230);
$color1: #131A28;
$color2: #192231;
$color3: #24344D; 
$correct: #2CB751;
$wrong: #E84A19;