@import 'mixin', 'fontSize';
// global responsive for cellphones
@media (max-width: 825px) {
  body
  {
    .above
    {
      z-index: 11;
      .logo
      {
        width: 20%;
        img
        {
          width: 100%;
        }
      }
      .search
      {
        width: 70%;
        .icons
        {
          i{
            font-size: 3rem;
          }
        }
        .profile_pic
        {
          .circle
          {
            width: 60px;
            height: 60px;
          }
        }
      }
    }
    .side
    {
      left: -60%;
      width: 60%;
      #p
      {
        display: block !important;
      }
    }
    .sideNavLeft
    {
      left: 0 !important;
    }
    .big
    {
      width: 100% !important;
    }
    .content
    {
      width: 100%;
      .h2board
      {
        top: 15%;
      }
      .home{
        .dashboard
        {
          height: 700%;
          @include gridRepeat(1fr, 1, 1fr ,11, 25px);
          .actu, .quiz, .news, .results, .leaderboard
          {
            grid-column: 1/2;
          }
          .actu
          {
            grid-row: 1/5;
            #buddypress
            {
              height: auto;
              .activity-content
              {
                margin: 0px 0px 0px 0px;
              }
              li.activity
              {
                padding: 5px;
              }
            }
          }
          .quiz
          {
            grid-row: 5/6;
            .contentQ
            {
              width: 70%;
            }
          }
          .news
          {
            grid-row: 6/8;
            .display-posts-listing.grid
            {
              height: 80%;
              width: 60%;
            }
          }
          .results
          {
            grid-row: 8/9;
          }
          .leaderboard
          {
            grid-row: 9/12;
          }
        }
      }
      .svg_step1,.svg_step2_quiz, .svg_step2_module, .svg_step3
      {
        display: none;
      }
      .userL
      {
        .listUser
        {
          height: 70%;
        }
      }
      .generator
      {
        padding: 10px;
        align-items: center;
        #container
        {
          padding: 0;
          margin: 0;
          #intro
          {
            padding: 0;
            margin-top: 30%;
            font-size: $fontSize2;
          }
        }
        form
        {
          margin: 0;
          input
          {
            width: 100%;
          }
        }
      }
      .svg_pass
      {
        display: none;
      }
      .profile
      {
        margin-top: 40%;
        width: 100%;
        #profil
        {
          .picture
          {
            margin-bottom: 5%;
            i
            {
              bottom: -20px;
            }
            span
            {
              width: 100%;
              right: 0px;
              bottom: -25px;
            }
            .img
            {
              margin-bottom: 25%;
            }
          }
          div
          {
            width: 90%
          }
        }
      }
      .svg
      {
        display:none;
      }
      .post
      {
        .comments
        {
          padding: 0px 10px;
          .comment-respond
          {
            textarea
            {
              max-width: 280px;
              max-height: 500px;
              min-height: 300px;
              min-width: 280px;
            }
          }
        }
      }
      .svg_tag
      {
        display:none;
      }
    }
    .vc_pageable-slide-wrapper
    {
      margin-right: 0 !important;
    }
    .vc_grid-item
    {
      padding-right: 0 !important;
    }
  }
}
// global responsive for tablets
@media (min-width: 760px) and (max-width: 1100px)
{
  body
  {
    .side
    {
      left: -30%;
      width: 30%;
      #p
      {
        display: block !important;
      }
    }
    .vc_grid-item
    {
      padding-right: 0 !important;
      margin: 28px;
    }
    .sideNavLeft
    {
      left: 0 !important;
    }
    .big
    {
      width: 100% !important;
    }
    .content
    {
      width: 100%;
      .svg_tag
      {
        display: block;
      }
      .home{
        display: flex;
        justify-content: center;
        .dashboard
        {
          width: 85%;
          height: 500%;
          @include gridRepeat(1fr, 1, 1fr ,9, 25px);
          .actu, .quiz, .news, .results, .leaderboard
          {
            grid-column: 1/2;
          }
          .actu
          {
            grid-row: 1/4;
            #buddypress
            {
              height: auto;
            }
          }
          .quiz
          {
            grid-row: 4/5;
            .contentQ
            {
              width: 70%;
            }
          }
          .news
          {
            grid-row: 5/6;
            .display-posts-listing.grid
            {
              height: 80%;
              width: 30%;
            }
          }
          .results
          {
            grid-row: 6/7;
          }
          .leaderboard
          {
            grid-row: 7/9;
          }
        }
      }
    }
  }
}
// responsive for iphone 5 of "de ces morts"
@media (min-width: 320px) and (max-width: 320px)
{
  body
  {
    .content
    {
      .generator
      {
        #container
        {
          #intro
          {
            margin-top: 70%;
          }
        }
      }
      .profile
      {
        margin-top: 50%;
      }
    }
  }
}
@media (min-width: 568px) and (max-width: 568px)
{
  body
  {
    .content
    {
      .generator
      {
        #container
        {
          #intro
          {
            margin-top: 50%;
          }
        }
      }
    }
  }
}
// responsive for landscape
@media (max-height: 500px)
{
  body
  {
    .above
    {
      height: 20%;
    }
    .side
    {
      top: 20%;
      height: 80%;
      #link
      {
        margin-bottom: 5px;
        .dropMenu
        {
          top: -35%;
        }
      }
    }
    .content
    {
      height: 80%;
      .svg_tag
      {
        display: none;
      }
      .h2board
      {
        margin-top: 0;
      }
      .home{
        .dashboard
        {
          height: 1000%;
        }
      }
      .generator
      {
        #container
        {
          #intro
          {
            margin-top: 40%;
          }
        }
      }
    }
  }
}