@import 'colors', 'mixin', 'fontSize', 'import';

body
{
    height: 100vh;
    width: 100%;
    background: $color2;
    padding: 0;
    margin: 0;
    font-family: "Muli", sans-serif;
    a *
    {
        font-family: 'Montserrat', sans-serif;
    }
    
    nav
    {
        position: relative;
        height: 12%;
        width: 100%;
        left: 0;
        top: 0;
        .above
        {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            width: 100%;
            border-bottom: 1px solid rgba($color: #FFFFFF, $alpha: 0.5);
            background: $color2;
            .inscription
            {
                display: none;
                position: absolute;
                color: #7AB9C9;
                font-size: $fontSize2;
                font-family: "Muli";
                z-index: 5;
            }
            .inscription:hover
            {
                font-weight: 600;
            }
            .logo
            {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                width: 15%;
                height: 100%;
                z-index: 3; 
                img
                {
                    position: relative;
                    width: 70%;
                    height: auto;
                    z-index: 4;
                }
            }
            .connection
            {
                position: relative;
                height: 100%;
                width: 60%;
                form
                {
                    position: absolute;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    width: 80%;
                    height: 100%;
                    font-weight: 600;
                    color: $police;
                    right: 10px;
                    input
                    {
                        position: relative;
                        border: none;
                        border-bottom: 1px solid $police;
                        background: transparent;
                        width: 50%;
                    }
                    input:focus{
                        color: $police;
                        outline: none;
                        font-size: 15px;
                        text-align: center;
                    }
                    input:not(:focus){
                        color: $police;
                        font-size: 15px;
                        text-align: center;
                    }
                    p:nth-child(1)
                    {
                        position: absolute;
                        color: red;
                        top: 2%;
                        left: 50%;
                        width: 100%;
                        transform: translateX(-50%);
                        margin: 0;
                        padding: 0;
                        text-align: center;
                    }
                    div:nth-child(3)
                    {
                        position: relative;
                        .mdpForget
                        {
                            position: absolute;
                            bottom: -100%;
                            right: 10%;    
                            color: #7AB9C9;
                            text-decoration: none;
                            font-size: 12px;
                            font-weight: 200;
                        }
                        .mdpForget:hover
                        {
                            font-weight: 900;
                        }
                    }
                    input[type=submit]
                    {
                        position: relative;
                        background: $color-btn;
                        border-bottom: none;
                        border-radius: 3px;
                        padding: 7px 0px;
                        width: 150px;
                        transition: .2s;
                        color: $color1;
                        font-weight: 600;
                        font-family: "Montserrat", sans-serif;
                    }
                    input[type=submit]:hover
                    {
                        background: $police;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .insc
    {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 88%;
        color: $police;
        .insc_conn
        {
            position: relative;
            left: 7%;
            width: 40%;
            #checked
            {
                .glowing
                {
                    animation: fill 2s infinite ease-in-out;
                }
                @keyframes fill 
                {
                    0%{
                        fill:#3AD29F;
                    }
                    20%{
                        fill:rgb(0, 255, 174)
                    }
                    25%{
                        fill:rgb(11, 195, 134);
                    }
                    30%{
                        fill: rgb(1, 255, 170);
                    }
                    35%{
                        fill: #3AD29F;
                    }
                    100%{
                        fill:#3AD29F;
                    }
                }
            }
            #cross_1
            {
                animation: cross1 4s infinite ease-in-out;
                @keyframes cross1
                {
                    0%{
                        transform: translate(0px, 0px);
                    }
                    10%{
                        transform: translate(0px, 0px);
                    }
                    15%{
                        transform: translate(3px, 3px);
                    }
                    20%{
                        transform: translate(0px, 0px);
                    }
                    100%{
                        transform: translate(0px, 0px);
                    }
                }
            }
            #cross_4
            {
                animation: cross4 4s infinite ease-in-out;
                @keyframes cross4
                {
                    0%{
                        transform: translate(0px, 0px);
                    }
                    50%{
                        transform: translate(0px, 0px);
                    }
                    55%{
                        transform: translate(-3px, 0px);
                    }
                    58%{
                        transform: translate(3px, 0px);
                    }
                    60%{
                        transform: translate(0px, 0px);
                    }
                    100%{
                        transform: translate(0px, 0px);
                    }
                }
            }
            #cross_7
            {
                animation: cross7 4s infinite ease-in-out;
                @keyframes cross7
                {
                    0%{
                        transform: translate(0px, 0px);
                    }
                    60%{
                        transform: translate(0px, 0px);
                    }
                    65%{
                        transform: translate(5px, 10px);
                    }
                    70%{
                        transform: translate(0px, 0px);
                    }
                    100%{
                        transform: translate(0px, 0px);
                    }
                }
            }
            #cross_8
            {
                animation: cross8 4s infinite ease-in-out;
                @keyframes cross8
                {
                    0%{
                        transform: translate(0px, 0px);
                    }
                    70%{
                        transform: translate(0px, 0px);
                    }
                    75%{
                        transform: translate(-5px, 10px);
                    }
                    80%{
                        transform: translate(0px, 0px);
                    }
                    100%{
                        transform: translate(0px, 0px);
                    }
                }
            }
            #cross_9
            {
                animation: cross9 4s infinite ease-in-out;
                @keyframes cross9
                {
                    0%{
                        transform: translate(0px, 0px);
                    }
                    20%{
                        transform: translate(0px, 0px);
                    }
                    25%{
                        transform: translate(-3px, -3px);
                    }
                    30%{
                        transform: translate(0px, 0px);
                    }
                    100%{
                        transform: translate(0px, 0px);
                    }
                }
            }
            #cross_12
            {
                animation: cross12 4s infinite ease-in-out;
                @keyframes cross12
                {
                    0%{
                        transform: translate(0px, 0px);
                    }
                    55%{
                        transform: translate(0px, 0px);
                    }
                    63%{
                        transform: translate(8px, 7px);
                    }
                    65%{
                        transform: translate(7px, 6px);
                    }
                    70%{
                        transform: translate(0px, 0px);
                    }
                    100%{
                        transform: translate(0px, 0px);
                    }
                }
            }
            #cross_14
            {
                animation: cross14 4s infinite ease-in-out;
                @keyframes cross14
                {
                    0%{
                        transform: translate(0px, 0px);
                    }
                    55%{
                        transform: translate(0px, 0px);
                    }
                    80%{
                        transform: translate(0px, 2px);
                    }
                    85%{
                        transform: translate(3px, 4px);
                    }
                    90%{
                        transform: translate(5px, 5px);
                    }
                    100%{
                        transform: translate(0px, 0px);
                    }
                }
            }
            #cross_15
            {
                animation: cross15 4s infinite ease-in-out;
                @keyframes cross15
                {
                    0%{
                        transform: translate(0px, 0px);
                    }
                    30%{
                        transform: translate(0px, 0px);
                    }
                    33%{
                        transform: translate(6px, 2px);
                    }
                    35%{
                        transform: translate(3px, 4px);
                    }
                    40%{
                        transform: translate(5px, 5px);
                    }
                    45%{
                        transform: translate(0px, 0px);
                    }
                    100%{
                        transform: translate(0px, 0px);
                    }
                }
            }
        }
        .fa-times
        {
            display: none;
            position: absolute;
            top:15px;
            right: 15px;
            color: $police;
            font-size: $fontSize2;
            z-index: 10;
        }
        .fa-times:hover
        {
            color: $color-imp;
        }
        .form
        {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 70%;
            max-height: 100%;
            overflow-y: scroll;
            h2
            {
                position: relative;
                font-size: 30px;
                font-family: "Montserrat", sans-serif;
            }
            .mess
            {
                margin: 0;
                padding: 0;
                font-weight: 600;
                font-size: 14px;
                text-align: center;
            }
            .error
            {
                color: red;
            }
            .good
            {
                color: #3AD29F;
            }
            form
            {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 65%;
                div
                {
                    position: relative;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    font-weight: 600;
                    margin-bottom: 30px;
                    label
                    {
                        position: relative;
                        left: 0;
                        width: 40%;
                        small
                        {
                            font-size: 12px;
                            @include positionTL(absolute, 90%, 0);
                            color: $color-imp;
                            margin-bottom: 50px;
                        }
                    }
                    input
                    {
                    position: relative;
                    border: none;
                    border-bottom: 1px solid $police;
                    background: transparent !important;
                    width: 40%;
                    }
                    input::selection
                    {
                        background: red;
                    }
                    input:focus
                    {
                        color: $police;
                        outline: none;
                        font-size: 15px;
                        text-align: center;
                    }
                    input:not(:focus)
                    {
                        color: $police;
                        font-size: 15px;
                        text-align: center;
                    }
                    .select
                    {
                        position: relative;
                        background: $color-btn;
                        width: 40%;
                        border-radius: 3px;
                        overflow: hidden;
                        select
                        {
                            background: $color-btn;
                            color: $color1;
                            padding: 5px 10px;
                            width: 100%;
                            border: none;
                            font-weight: 600;
                            font-family: "Muli", sans-serif;
                            appearance: none;
                            outline: none;
                            border-radius: 3px;
                            box-shadow: none;
                            transition: .2s;
                            cursor: pointer;
                            option
                            {
                                background-color: $color-btn;
                                outline: none;
                                border: none;
                            }
                        }
                        select:focus
                        {
                            outline: none;
                        }
                        select:hover
                        {
                            background: $police;
                        }
                    }
                    i
                    {
                        position: absolute;
                        color: #192231;
                        font-size: 20px;
                        right: 10px;
                    }
                }
                input[type=submit]
                {
                    margin-top: 0px;
                    margin-bottom: 20px;
                    background: $color-btn;
                    border: none;
                    padding: 5px 10px;
                    border-radius: 3px;
                    color: $color1;
                    font-size: 20px;
                    font-weight: bold;
                    transition: .2s;
                    font-family: 'Montserrat', sans-serif;
                }
                input[type=submit]:hover
                {
                    cursor: pointer;
                    background: $police;
                }
            }
        }
        .form::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }
        .form::-webkit-scrollbar-thumb {
        background: $color-btn;
        border-radius: 100px;
        }
        .form::-webkit-scrollbar-thumb:hover {
        background: $color-btn;
        }
        .form::-webkit-scrollbar-thumb:active {
        background: $color-btn;
        }
        .form::-webkit-scrollbar-track {
        background: $color1;
        border-radius: 50px;
        }
        .form::-webkit-scrollbar-corner {
        background: transparent;
        }
    }
    .error404
    {
        position: relative;
        width: 100%;
        height: 100%;
        @include flex(center, center, row);
        svg
        {
            margin-top: 10%;
            position: relative;
            width: 50%;
            #eye1, #eye2
            {
                position: absolute;
                top: 0%;
                left: 50%;
                // transform: translate(-50%, -50%);
            }
            #man
            {
                transform: translateY(0px);
                animation: bounce 0.5s infinite alternate-reverse;
            }
            @keyframes bounce
            {
                0%{
                    transform: translateY(0px);
                }
                50%{
                    transform: translateY(-15px);
                }
                100%{
                    transform: translateY(0px);
                }
            }
        }
        p
        {
            @include positionTL(absolute, 15%, 50%);
            transform: translate(-50%, -50%);
            text-decoration: none;
            color: $police;
            margin: 0;
            z-index: 5;
            text-align: center;
            font-size: $fontSize2;
            a
            {
                text-decoration: none;
                span
                {
                    color: $color-imp;
                }
            }
        }
        a:hover
        {
            font-weight: 600;
            color: $color-imp;
        }
    }
}
body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
body::-webkit-scrollbar-thumb {
background: $color-btn;
border-radius: 100px;
}
body::-webkit-scrollbar-thumb:hover {
background: $color-btn;
}
body::-webkit-scrollbar-thumb:active {
background: $color-btn;
}
body::-webkit-scrollbar-track {
background: $color1;
border-radius: 50px;
}
body::-webkit-scrollbar-corner {
background: transparent;
}

@import 'mediaInsc';